/* Move down content because we have a fixed navbar that is 50px tall */

html {

}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Lato";
  background-color: White;
}

.direct-amazon-link {
  width: 550px;
  height: 50px;
  background-color: white;
  color: #3399ff;
  font-size: 30px;
  margin-top: 100px;
}

.direct-amazon-link:hover {
  background-color: #3399ff;
  color: white;
}

@media (max-width: 700px) {
  .direct-amazon-link {}
}

.btn {
  background: orange;
  color: white;
  padding: 15px;
  border: none;
  font-size: 20px;
  margin-top: 20px;
}

.btn:hover {
  background: green;
  color: white;
}

h1{
  font-family: "condensed";
  letter-spacing: 5px;
  color: white;
  position: relative;
  bottom: 50px;
}

ul {
  color: white;
  /*display: inline-block;*/
}

li {
  /*display: inline-block;*/
  padding: 10px;
  /*background: #A9A9A9;*/
}

.navbar-inverse {
  /*background: none;*/
  background: #3399ff;
  padding: 10px;
}

.navbar-inverse .navbar-brand {
  color: white;
  background: #3399ff;
}

.navbar {
  border: none;
  font-family: "condensed";
  background-color: #3399ff;
  color: white;
}

.navbar-brand {
  letter-spacing: 3px;
  background-color: #3399ff;
}


a {
  color: white;
}

h4 {
  position: relative;
  top: 20px;
  margin: 0px;
  padding: 10px;
}

.tops {
  margin-top: 20px;
  margin-bottom: 20px;
}

.schedule {
  color: white;
  width: 100%;
  float: right;
  text-align: center;
  font-family: "lato";
  padding-bottom: 75px;
}

.schedule > h1, h2 {
  font-family: "lato";
  letter-spacing: 5px;
}

.schedule > h2 {
  margin-bottom: 15px;
  margin-top: 25px;
}

.schedule > p {
  font-size: 20px;
  letter-spacing: 2px;
}


@media(max-width: 993px){
   img {
    width: 400px;
    margin: 5%;
  }
}

medium {
  line-height: 2;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.fa {
  width: 40px;
  transform:scale(2);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.main-wrapper {
  background-image: url("static/images/");
  background-size: cover;
  margin-bottom: 10px;
  background-position: center;
  color: #3399ff;
}

.jumbotron {
  background: none;
  color: white;
  position: relative;
  top: 75px;
  color: #3399ff;
}

.container {
  background-color: none;
}

.departments {
  position: relative;
  top: 50px;
  height: 300px;
  /*color: #E0E0E0;*/
  /*color: #A0A0A0;*/
  color: white;
}

.col-lg-5 {
  display: inherit;
}



.title {
  color: white;
  margin-bottom: 100px;
}

.footer-home {
  margin-top: 100px;
  color: #3399ff;
}

.form {
  position: relative;
  top: 75px;
}

input {
  width: 200px;
  color: black;
}

textarea {
  color: black;
}

.submit {
  width: 75px;
  color: black;
}

.info>p {
  font-size: 30px;
  padding: 20px;
  letter-spacing: 2px;
}

.info {
  color: white;
  margin-bottom: 100px;
  line-height: 30px;
  letter-spacing: 1px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.content>p{
  font-size: 14px;
}

/*Below is CSS for product pages*/
.info-product-title {
  color: black;
}

.product-page-item {
  margin-top: 50px;
}

/*End of CSS for product pages*/

.sasstester {
  color: blue;

}

/*Schedule page*/

.class-disc {
  color: white;
  width: 90%;
  margin-left: 5%;
  font-family: "Lato";
  line-height: 30px;
  letter-spacing: 2px;
}
