/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: black;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.nav {
  position: relative;
  left: 3.5%;
  text-align: center;
}

a {
  color: #9ACD32;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    /*background-color: #EEE;*/
    background-color: gray;
    color: #9ACD32;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background: gray;
}


/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: black;
}

@media screen and (min-width: 768px) {
.container .jumbotron, .container-fluid .jumbotron {
  padding: 0px;
  }
}

.logo {
  width: 90%;
  border-radius: 10px;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.main-pic {
  transform: scale(1.2);
  /*position: relative;*/
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.back-garden {
  width: 100%;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  text-align: center;
  margin-bottom: 20px;
  /*border-top: 1px solid #9ACD32;*/
  padding-top: 20px;
}

.specialties {
  display: inline-block;
  width: 100%;

}

.spec-food {
  color: white;
  width: 200px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  vertical-align: top;
}

.spec-food .2 {
  position: relative;
  bottom: 19px;

}

.spec-food .3 {
  position: relative;
  bottom: 37px;
}

.spec-food img {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.pic {
  height: 140px;
}

.pic:hover {
  transform: scale(2);
}

#pic14 {
  transform: rotate(90deg);
  position: relative;
  top: 39px;
  right: 38px;
}

.marketing p + h4 {
  margin-top: 28px;
  display: inline-block;
}

.info {
  text-align: center;
  font-size: 21px;
  color: #9ACD32;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.lunch-menu {
  transform: scale(1.3);
  position: relative;
  top: 0px;
  margin-top: 80px;
  margin-bottom: 40px;
}

h2 {
  color: white;
  font-style: italic;
}

input {
  width: 300px;
  color: black;
}

textarea {
  color: black;
}
.text-left {
  /*color: white;*/
  color: #a39891;
}
.submit {
  color: black;
  width: 80px;
}

.footer {
  margin-top: 85px;
  text-align: center;
}
